{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Modifier produits</h1>

   <a href="{{ path('app_admin_product') }}">back to list</a>
    
 {{ include('admin_product/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
