{% extends 'base.html.twig' %}

{% block title %}Nouvelle prestation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle prestation</h1>

    {% include('admin_prestation/_form.html.twig') %}

    <a class='btn btn-warning' href="{{ path('app_admin_prestation') }}">back to list</a>
{% endblock %}
