{% extends 'base.html.twig' %}

{% block title %}Modifier Catégories{% endblock %}

{% block body %}
    <h1>Modifier Catégories</h1>

    {{ include('admin_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_category') }}">back to list</a>

    {{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}
